.opcionesAdmin {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 80vh; /* Para que ocupe toda la altura de la pantalla */
}

.opcionesAdmin table {
    text-align: center; /* Centra el contenido de la tabla */
}

.opcionesAdmin td {
    padding: 10px; /* Espaciado interno de las celdas */
}

.opcionesAdmin button {
    background-color: #222; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px 30px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 20px; /* Tamaño de la fuente */
    margin: 30px;
    width: 500px; /* Ancho mínimo para todos los botones */
    height: 200px;
}

.opcionesAdmin button:hover{
    background: #111;
}
