body {
    background-color: #333;
    margin: 0;
    font-family: Arial, sans-serif;
    color: white;
}

button {
    background-color: #0073ff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}


button:hover {
    background-color: #0056b3;
}

.advise h1{
    text-align: center;
    margin-top: 40px;
}

textarea {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 16px;
    resize: vertical;
    min-height: 80px;
}

textarea:focus {
    outline: none;
    border-color: #0073ff;
}

/*
########################################################################################################################

                        NAVBAR

########################################################################################################################

 */

.navbar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #222;
    padding: 20px;
}

.navbar a {
    text-decoration: none;
    margin: 0 10px;
}


.navbar-title {
    margin: 0;
    font-size: 40px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar-h1-a {
    color: white;
    text-decoration: none;
}

.navbar-h1-a:hover{
    color: white;
}

.navbar-left, .navbar-right {
    display: flex;
}

/*
########################################################################################################################

                        TABLA

########################################################################################################################

 */
.rutinas table {
    width: 80%;
    margin: 40px auto;
    border-collapse: collapse;
    background-color: #444;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: white;
    border-radius: 10px;
    overflow: hidden;
}

.rutinas th, td {
    padding: 15px;
    text-align: center;
}

.rutinas th {
    background-color: #555;
}

.rutinas tr:nth-child(even) {
    background-color: #333;
}

.encabezado tr {
    background-color: #222;
}

.rutinas form.form-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17px
}

/*
########################################################################################################################

                        SELECT

########################################################################################################################

 */


select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #333;
    color: white;
    border: 1px solid #555;
    border-radius: 5px;
    font-size: 16px;
}

select option {
    background-color: #333;
    color: white;
}

select:focus {
    outline: none;
    border-color: #0073ff;
}

/* Estilos del contenedor */
.form-container {
    width: 50%;
    margin: 40px auto;
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    color: white;
}

/*
########################################################################################################################

                        TABLE CON FORM

########################################################################################################################

 */

.form-input {
    width: 100%;
    padding: 10px;
    background-color: transparent;
    color: white;
    border: 1px solid #222;
    border-radius: 5px;
    font-size: 16px;
}

.form-input:focus {
    outline: none;
    border-color: #0073ff;
}
