body {
    background-color: #333; /* Mismo color de fondo que el navbar */
    margin: 0;
    font-family: Arial, sans-serif; /* Puedes ajustar la fuente a tu gusto */
    color: white; /* Ajustar el color del texto para mejor legibilidad */
}

.styled-button {
    background-color: #0073ff; /* Color de fondo del botón */
    color: #fff; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
    font-size: 16px; /* Tamaño de la fuente */
    margin-top: 10px; /* Margen superior */
}

/* Estilos para el botón del formulario al pasar el cursor sobre él */
.styled-button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el cursor sobre él */
}